@media (min-width:1025px) {
    .homepage__features-tabs {
        background-color: $grey-2;

        .tabContent__container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 3%;

            .tabContent__text-container {
                display: flex;
                flex-direction: column;
            }

            img {
                max-width: 650px;
                max-height: 300px;
                margin: 35px;
            }
        }

        .nav-tabs {
            .nav-item {
                button {
                    background-color: transparent;
                    color: $btn-green;

                    &:focus {
                        color: white;
                    }
                }
            }
        }

        .nav-link {
            border: none;
        }

        .nav-link:active {
            color: white;
        }
    }
}