@import url('bootstrap/dist/css/bootstrap.min.css');


//Font Variables
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$zag: 'Zag', sans-serif;
$zag-bold: 'Zag bold', sans-serif;

//Color variables
$black: #141B23;
$grey-1: #2F3135;
$grey-2: #434447;
$grey-3: #08090d;
$grey-4: #A6A6A6;
$btn-green: #BBE790;
$green: #B5E5A4;